* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app{ 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: gold; */
  max-width: 100%;
  height: 100vh
}

/* .canvas{
  background-color: red;
  width: 80%;
  height: 60%;
} */

#color{
  margin-top: 2%;
  margin-bottom: 2%;
  width: 80%;
}